@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";
@layer theme, base;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-light text-dark transition-colors duration-500 ease-in;
  }

  .dark body {
    --color-light: #020617;
    --color-dark: #f1f5f9;
    --color-indigo-500: #818cf8;
    --color-slate-400: #cbd5e1;
    --color-slate-200: #475569;
    @apply bg-dark text-light;
  }

  body,
  button,
  input,
  textarea {
    @apply font-display text-base tracking-tighter leading-[0.9];
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold leading-[0.9] tracking-tighter;
  }

  p {
    @apply tracking-tighter;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full select-none;
  }

  button {
    @apply inline-block outline-none p-0 border-0 bg-none cursor-pointer text-inherit;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply transition-colors duration-500 ease-in text-dark no-underline;
  }

  .dark a {
    @apply text-light;
  }

  hr {
    @apply transition-all duration-500 ease-in border border-dark dark:border-light;
  }

  strong {
    @apply text-indigo-500;
  }

  .dark strong {
    @apply text-indigo-400;
  }
}

@theme {
  --color-light: #f1f5f9;
  --color-dark: #020617;
  --color-indigo-500: #6366f1;
  --color-slate-400: #94a3b8;
  --color-slate-200: #e2e8f0;
  --font-display: "Poppins", "sans-serif";
}
