@import "tailwindcss";
@layer theme, base, components, utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@theme {
  --color-light: #f1f5f9;
  --color-dark: #020617;
  --color-indigo-500: #6366f1;
  --color-slate-400: #94a3b8;
  --color-slate-200: #e2e8f0;

  --font-display: "Poppins", "sans-serif";
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-light text-dark transition-colors duration-500 ease-in;
  }

  body,
  button,
  input,
  textarea {
    @apply font-display text-base tracking-tighter leading-[0.9];
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold leading-[0.9] tracking-tighter;
  }

  p {
    @apply tracking-tighter;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full select-none;
  }

  button {
    @apply inline-block outline-none p-0 border-0 bg-none cursor-pointer text-inherit;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply transition-colors duration-500 ease-in text-dark no-underline;
  }

  hr {
    @apply transition-all duration-500 ease-in border border-dark;
  }

  strong {
    @apply text-indigo-500;
  }
}
